<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Display</title>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
</head>
<body>
    <div id="mapContainer" style="width: 100%; height: 600px;"></div>

    <script>
        // JavaScript to initialize the map will go here
        const map = new AMap.Map('mapContainer', {
            zoom: 15,
            center: [<%= longitude %>, <%= latitude %>]
});
    </script>
</body>
</html>
