<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Display</title>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=b6ba147ffd1e49158d12f7cb16d0f381"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #mapContainer {
            width: 100%;
            height: 100%;
        }
        /* ... 任何其他样式都可以继续放在这里 ... */
    </style>
</head>
<body>
    <div id="SELECT_province" style="height: 10%;">
        <!-- 年份下拉框 -->
        <select id="year" onchange="loadProvinces()">
            <!-- 年份选项将通过JavaScript动态生成 -->
        </select>

        <!-- 省份下拉框 -->
        <select id="province">
            <!-- 省份选项将根据所选年份通过JavaScript动态生成 -->
        </select>

        <button onclick="loadProvinceData()">查询</button>
    </div>



    <div style="height: 90%; display: flex; width: 100%;">
        <!-- 左边的A部分 -->
        <iframe id="provinceData" style="border: 1px solid lightblue; flex: 1;"></iframe>
        <!-- 右边的B部分 -->
        <div id="SELECT_AND_MAP" style="flex: 1; display: flex; flex-direction: column;">
            <div id="mapContainer" style="flex: 1;"></div>
        </div>
    </div>
    

    <script>
        const map = new AMap.Map('mapContainer', {
            zoom: 15,
            center: [<%= longitude %>, <%= latitude %>]
        });

        // 获取并填充年份
        async function loadYears() {
            const response = await fetch('/get-years');
            const years = await response.json();
            const yearSelect = document.getElementById('year');
            
            yearSelect.innerHTML = years.map(year => `<option value="${year}">${year}</option>`).join('');
        }

        // 根据选择的年份获取并填充省份
        async function loadProvinces() {
            const selectedYear = document.getElementById('year').value;
            const response = await fetch(`/get-provinces/${selectedYear}`);
            const provinces = await response.json();
            const provinceSelect = document.getElementById('province');
            
            provinceSelect.innerHTML = provinces.map(province => `<option value="${province}">${province}</option>`).join('');
        }

        // 当用户点击查询按钮，加载对应年份和省份的HTML文件到左侧A部分的iframe中
        function loadProvinceData() {
                const province = document.getElementById('province').value;
                const year = document.getElementById('year').value;
                const iframe = document.getElementById('provinceData');
                iframe.src = `/year/${encodeURIComponent(year)}/${encodeURIComponent(province)}.html`;
        }

        // 初始加载年份，并设置事件监听器
        loadYears().then(() => {
            loadProvinces();  // 初始加载省份
        });

    </script>
</body>
</html>
